// Main style file

// Main app
@import "partials/utils";
@import "components/colors";
@import "components/interface";
@import "components/grid";
@import "components/message";
@import "components/loading";
@import "components/ui";

.black {
  background-color: black !important;
}
* {
  -webkit-touch-callout: none;
  user-select: none;
}
