$grid-bg: #fff;
$grid-col-bg: #fff;
$grid-col-bg--hover: $c__red;
$grid-col-text: lighten($grid-col-bg, 10%); 

html, body {
  box-sizing: border-box;
  height: 100%;
  background: #1d1d1d;
}

.container {
  height: 100%;
}

.g-container {
  width: 100%;
  position: relative;
  &:after {
    padding-top: 100%; // 16:9 ratio
    display: block;
    content: '';
  }
}

.g {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: $grid-bg;
}

.g__row {
  transition: all 1s;
  clear: both;
  position:relative;
  display: flex;
}

.g__col {
  color: $grid-col-text;
  display: flex;
  flex:1;
  min-height:100%;
  background: $grid-col-bg;
  align-items: center;
  box-pack: center;
  text-align: center;
  &:hover {
    cursor: pointer;
    background: $grid-col-bg--hover;
  }
}
