%button {
  &, &:link, &:visited {
    border: 0;
    transition: 0.2s all;
    background: $button-bg;
    text-decoration: none;
    padding: 0.5em 0.8em;
    color: #fff;
  }
  &:hover {
    background: saturate($button-bg, 20%);
  }
  &.active {
    background: saturate($button-bg, 90%);
  }
}

.button {
  @extend %button;
}
