$medium-screen: 'only screen and (min-width: 40.063em)';

%two-thirds {
  @media #{$medium-screen} {
    width: (2/3 * 100%);
    float: left;
  }
}

%one-third {
  @media #{$medium-screen} {
    width: (1/3 * 100%);
    float: left;
  }
}

%one-half {
  width: (1/2 * 100%);
  float: left;
}

.ui {
  background: #f1f1f1;
  overflow: hidden;
  padding: 2%;
  position: relative;
  box-shadow: inset 0px -14px 18px -12px rgba(#1d1d1d,0.10);
}



.ui-close {
  font-size: 2em;
  position:absolute;
  top:0;
  right: 0;
  background: none;
  border:none;
  padding: 0.5rem;
  &:link, &:visited {
    color: $button-bg;
    text-decoration: none;

  }
}

.ui-prose {
  max-width: 30em;
}

.ui-big-text {
  font-size: 4em;
}

.ui-main {

  @extend %two-thirds;
}

.ui-widgets { 
  @extend %one-third;
}

.ui-widget {
  text-align: center;
  @extend %one-half;
}

.ui-color-example {
  width: 4em;
  height: 4em;
  margin: 0 auto;
  margin-bottom: 0.2em;
}
