<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" itemscope itemtype="http://schema.org/WebApplication"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProGrid.io</title>
    <meta name="description" content="Live multiplayer pixel art game">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- begin twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pro_grid">
    <meta name="twitter:title" content="ProGrid.io">
    <meta name="twitter:description" content="Live multiplayer pixel art game">
    <meta name="twitter:image:src" content="http://cdn.progrid.io/progrid-logo-360.png">
    <meta name="twitter:domain" content="http://progrid.io">
    <!-- end twitter -->
    <!-- begin google -->
    <meta itemprop="name" content="ProGrid.io">
    <meta itemprop="description" content="Live multiplayer pixel art game">
    <meta itemprop="image" content="http://cdn.progrid.io/progrid-logo-360.png">
    <!-- end google -->
    <!-- begin og -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="ProGrid.io">
    <meta property="og:description" content="Live multiplayer pixel art game">
    <meta property="og:url" content="http://progrid.io">
    <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png">
    <!-- end og -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="proGridApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-47239186-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/injectstyles.js"></script>
    <script src="scripts/directives/pgdashboard.js"></script>
    <!-- endbuild -->


  <script type="text/ng-template" id="pgDashboard">
  <div class="ui" ng-hide="uiClose" ng-class="{ 'ng-reveal': menuOpen }" ng-if="gridArray">
    <a href="#grid" class="ui-close" role="button" du-smooth-scroll ng-hide="menuOpen">&times;</a>
    <button class="ui-menu-button" ng-click="toggleMenu()">
      Menu&emsp;&emsp;<i class="icon ion-close"></i>
    </button>
    <nav class="ui-nav" ng-class="{ 'ng-reveal': menuOpen }">
      <button class="ui-nav-button" 
              ng-class="{ active: currentView == 'dashboard' }" 
              ng-click="switchView('dashboard')">
        <i class="icon ion-information-circled"></i>
        Dashboard
      </button>
      <button class="ui-nav-button" 
              ng-class="{ active: currentView == 'you'}" 
              ng-click="switchView('you')">
        <i class="icon ion-person"></i>
        You
      </button>

    </nav>
    <div class="ui-viewport" ng-include="currentTemplate">
    </div>
  </div>
  </script>
  <script type="text/ng-template" id="pgDashboard.dashboard">
      <div class="ui-main">
        <div class="ui-prose">
          <h1>Welcome to ProGrid</h1>
          <p>ProGrid is a live multiplayer pixel art game. Everything you draw is
          broadcasted live to the other users on the site. Everything you draw is
          saved forever...well until someone erases it.</p>
          <p><a href="#grid" role="button" class="button" du-smooth-scroll>Start Clicking</a></p>
        </div>
      </div>
      <div class="ui-widgets">
        <div class="ui-widget">
          <h2>Users Online</h2>
          <strong class="ui-big-text">{{ meta.numUsers }}</strong>
        </div>
        <div class="ui-widget">
          <h2>You</h2>
          <figure class="ui-color-example--centered" ng-style="{'background-color': user.color }"></figure>
          <strong>{{ user.name }}</strong>
        </div>
      </div>
      </div>
  </script>
  <script type="text/ng-template" id="pgDashboard.you">
  <div class="ui-main">
    <h1>You</h1>
    <figure class="ui-color-example" ng-style="{'background-color': user.color }"></figure>
    <strong>{{ user.name }}</strong>
  </div>
  </script>
</body>
</html>
